.candidate-card{
    padding: 0.4rem;
    border-style: inset;
    width: 100%;
    display: flex;

    box-shadow: 0px 0px 15px 3px rgb(0 0 0 / .15);

    margin-bottom: 1rem;
    transition-property: transform;
    transition-duration: 300ms;
}

.candidate-card:hover {
    transform: scale(1.1);
  }

.list-intereses{
    list-style: none;
}

.div-info{
    width: 10rem;
}